.blogSpecific {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #523941;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .blogPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .blogImage {
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
  
  }
  
  .blogPost div {
    margin-bottom: 0px;
  }
  
  
  .blogTitle {
    font-weight: 100;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #523941;
  }
  
  #blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    background: #ceb2bb;
    padding: 30px;
  }
  
  #blogContainer div {
    width: 30%;
    max-width: 30%;
    min-width: 250px;
    min-height: 300px;
  }
  
  
  #blogContainer h3 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight:300;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #654C54;
    background: #f8eef1;
    padding: 20px;
    min-width: 210px;
    border-radius: 3px;
  }

  
  #blogs h1 {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom:80px;
    color: #523941;
  }


.blogLink:hover {
    padding: 5px;
    background-color: #f8eef1;
    border-radius: 3px;

}
.ButtonBackground {
    background: #ceb2bb;
    text-align: center;
    padding-bottom: 70px;
}

  #loadMoreBtn {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: #654C54;
    color: #F3DFE6;
    font-size: 15px;
  }

  #loadMoreBtn:hover {
    background-color:#f1e3e8;
    color: #654C54;
  }

  header, footer {
    background-color: #654C54;
    color: #F3DFE6;
  }

  header a {
    color: white;
  }

  a:hover {
    text-decoration: underline;

  }

  
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-grow: 1; /* Allow the menu to grow and occupy the remaining space */
  }
  
  .nav-logo {
    font-size: 2rem;
    margin-right: auto; /* Push the nav-logo to the left */
    color: #f3dfe6;
  }
  
  @media (max-width: 770px) {
    .nav-menu {
      justify-content: center; /* Center the menu on mobile */
    }
  }
  
  .nav-link {
    transition: 0.7s ease;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all ease-in-out;
    background: #f3dfe6;
  }
  
  @media (max-width: 770px) {
    .hamburger {
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 1;
      flex-direction: column;
      background-color: #654C54;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding: 20px;
    }
  
    .nav-item {
      margin: 16px;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-link {
      margin: 10px;
    }
  }