body {
  font-family: 'Varela', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}



main {
  margin-bottom: 0px;
  padding: 0px;
  flex-grow: 1;
  
}

header {
  background-color: #F3DFE6;
}

li {
  list-style: none;
}

li a {
  color: #523941;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

h3 {
  font-size: 14px;
  font-weight: 200;
  text-align: justify;
  max-width: 180px;
}

/*header*/

.headercontainer {
  margin: 50px;
  color: #523941;
  font-weight: 100;
}

.headingtext {
  font-weight: 300;
  font-size: 30px;
}

.paratext {
  font-size: 15px;
}

/*navbar*/

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-grow: 1; 
}

.nav-logo {
  font-size: 2rem;
  margin-right: auto; 
  color: #523941;
}

@media (max-width: 770px) {
  .nav-menu {
    justify-content: center;
  }
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all ease-in-out;
  background: #654C54;
}

@media (max-width: 770px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 1;
    flex-direction: column;
    background-color: #f3dfe6;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 20px;
  }

  .nav-item {
    margin: 16px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    margin: 10px;
  }
}

/*footer*/

.footerbloglist {
  text-align: center;
  background-color: #574349;
  color: #f3dfe6;
  width: 100%;
  font-size: 15px;
  flex-shrink: 0;
  padding: 5px;
  
}

.footer {
  font-weight: 200;
  font-size: 12px;
  background-color: #F3DFE6;
  text-align: center;
  font-size: 15px;
  flex-shrink: 0;
  padding: 5px;

}

/* Modal */
#modalContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal-content img {
  max-width: 90%;
  max-height: 90%;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



/* Blog specific */

.blogSpecific {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #4d3a40;
  padding-top: 15px;
  padding-bottom: 450px;
}

#blogContent {
  width: 70%;
  max-width: 800px;
  margin-top: 120px;
  text-align: left;
  color: white;
}

#blogContent p {
  font-weight: 100;
  font-size: 13px;
  padding: 5px;
}

#blogImage {
  width: 30%;
  max-width: 350px;
  margin-top: 140px;
  margin-left: 50px;
}

#blogImage img {
  border-radius: 3px;
  max-width: 100%;
  height: auto;
}

#blogTitle {
  text-align: center;
  width: 100%;
  font-weight: 100;
  text-transform: uppercase;
  color: #523941;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 40px;

}





/*About page*/

.AboutMeStyling {
  background: #574349;
  color: white;
  font-weight: 100;
  padding-top: 100px;
  padding-bottom:100px;
  height: 200px;
}

.AboutMeStyling p {
  margin-left: 60px;
  max-width: 45%;
}

.AboutMeHeader {
  color: #654C54;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-left: 60px;
  
}
.AboutMeHeader h2 {
  font-weight: 100;
  font-size: 22px;
}

.ContactInfo {
  color: #654C54;
  margin-left: 60px;
  padding-bottom: 50px;
  font-weight: 100;
}

.socialBtn1{
  color: #574349;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 45px;
  height: 45px;

}
.socialBtn2{
  color: #574349;
  margin-left: 35px;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 45px;
  height: 45px;

}


.socialBtn1:hover{
  color: #ce9bac;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 45px;
  height: 45px;

}
.socialBtn2:hover{
  color: #ce9bac;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 45px;
  height: 45px;

}




/* Form */


.form-error {
  display: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.flexconteiner2 {rm
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexitem2 {
  flex: 1;
  text-align: justify;
}

.boxmodel1 {
  padding: 70px 70px;
  margin: 10px 0px 60px 0px;
  box-sizing: border-box;
  max-width: 350px;
}

#contactForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contactForm > div {
  flex-basis: calc(50% - 10px);
}

#contactForm label {
  display: block;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 15px;
}

#contactForm button {
  padding: 12px 65px;
  background-color:#f1e3e8;
  color: #574349;
  border-radius: 4px;
  cursor: pointer;
}

#contactForm button:hover {
  background-color:#654C54;
  color: #f1e3e8;
  border: solid #654C54 0.1px;
}

/* Index Carousel */

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #392C30;
  padding-bottom: 50px;
  max-height: 430px;
  height: 430px;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 55%;
}

.slide:hover {
  padding-top: 7px;
}


.slide{
margin-left: 75px;

}

.slide a {
  flex: 0 0 25%; 
  scroll-snap-align: center;
  color: white;
  height: 280x;
  width: 180px;
  min-width: 180px;

}

.slide h3 {
  text-align: center;
  color: #574349;
  background: #fff0f0;
  border-radius: 3px;
  margin: 0px;
  padding: 7px;
}

.leftButton,
.rightButton {
  background-color: transparent;
  color: #F3DFE6;
}

.rightButton svg {
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 45px;
  height: 45px;
}

.leftButton svg {
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 45px;
  height: 45px;
}

.slides {
  overflow-x: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

button {
  border: none;
  border-radius: 10%;
  padding: 5px;
  margin: 25px;
}

a img {
  max-width: 180px;
  min-height: 280px;
  border-radius: 3px;

}


.carouselheader {
  background: #654C54;
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 16px;
}


button {
background-color:#2b1f23;
color: #F3DFE6;
}


/* Contact Form */

.respond  {
  text-align: center;
  width: 600px;
  margin: auto;
  font-weight: 100;
  background-color: #80666f;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}


h1 {
  text-align: center;
  color: rgb(82, 57, 65);
  font-weight: 100;
  font-size: 22px;
  margin-bottom: 60px;
  margin-top: 30px;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #80666f;
  max-width: 600px;
  margin: auto;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 50px;
  border-radius: 3px;
  background-color: #e9ced7;
  color: rgb(82, 57, 65);
  font-weight: 100;
  text-transform:uppercase;
  font-size: 13px;
}

#contact-form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


input[type="text"],
input[type="email"],
textarea {
  padding: 10px 50px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  margin: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  background-color: #654C54;
  color: #F3DFE6;
  margin: 20px;
}

button:hover {
  color: #76d6a6;
}


.formBackground {
  background-color: #574349;
}

.contactText {
align-items: center;
background-color: #F3DFE6;
margin: auto; 
}

.contactText p, h2 {
margin-top: 10px;
margin-bottom: 0;
padding-top: 20px;
font-size: 15px;
text-align: center;
color: rgb(82, 57, 65);
}

.contactText h2 {
  font-size: 16px;
  font-weight: 100;
}



/* Bloglist page */
  
  .blogPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .blogImage {
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
  
  }
  
  .blogPost div {
    margin-bottom: 0px;
  }
  
  
  .blogTitle {
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #523941;
  }
  
  #blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    background: #a2878f;
    padding: 30px;
  }
  
 #blogContainer div {
    width: 30%;
    max-width: 30%;
    min-width: 250px;
    min-height: 300px;
 }

  
  
  #blogContainer h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight:300;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #574349;
    background: #fff9f9;
    padding: 20px;
    min-width: 210px;
    border-radius: 3px;
  }

  
  #blogs h1 {
    text-align: center;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom:80px;
    color: #523941;
    font-size: 22;
  }


.blogLink:hover {
    padding: 5px;
    background-color: #fff9f9;
    border-radius: 3px;

}
.ButtonBackground {
    background: #a2878f;
    text-align: center;
    padding-bottom: 70px;
}

  #loadMoreBtn {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: #4d3a40;
    color: #F3DFE6;
    font-size: 15px;
  }

  #loadMoreBtn:hover {
    background-color:#f1e3e8;
    color: #654C54;
  }


  .last-section {
    margin-bottom: 0px;
  }
  
  